<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre - Registro</title>
</head>
<body>
    <header class="header-box">
        <section class="logo">
            <article>
                <img  src="/images/logo-mercado-liebre.svg">  
            </article>
            
            <nav class="barra" <i class="fas fa-search"></i>  <input type="text"> </nav>
                
        </section>

        <div>
              <i class="fas fa-hand-holding-usd"> </i>  Comprá en cuotas y sin tarjeta de crédito
        </div>
        <section>
            <nav>
                <ul>
                    
                    <li> <a href="Ofertas"> Ofertas</a> </li>
                    <li><a href="Tiendas Oficiales"> Tiendas Oficiales </a>  </li>
                    <li><a href="Vender">Vender</a> </li>
                    <li><a href="Ayuda">Ayuda</a> </li>
                </ul>
            <nav>
                <ul>
                    <li><a href="/registro">Creá tu cuenta </a>  <i class="fas fa-address-card"></i> </li>
                    <li><a href="Ingresá">Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                    <li><a href="Mis compras">Mis compras </a>  <i class="fas fa-shopping-basket"></i> </li>
                </ul>
            </nav>    
               
            </nav>
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <form action="/" method="POST">

        <h3> Inciar Secion</h3>

        <label for="usuario"> Usuario: </label>
        <input type="text" name="usuario"> 

        <label for="password"> Contraseña </label>
        <input type="password" name="contraseña" >

        <button type="submit">Enviar</button>


    </form>