<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre - Registro</title>
</head>
<body>
    <header class="header-box">
        <section >
            <article class="logo-box">
                <img class="logo-img"  src="/images/logo-mercado-liebre.svg">  
               
                    
                        <nav class="barra" >
                            <input type="text" placeholder="Buscar Productos" class="lupa-box" >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        
                        </nav>
                  
                
                <div class="manito"><i class="fas fa-hand-holding-usd"> </i>  Comprá en cuotas y sin tarjeta de crédito</div>
            </article>       
        </section>

        <section class="menu">
            <nav class="nav-menu">
                <div class="box-menu1">
                    <ul class="menu1">
                    
                        <li> <a href="Ofertas"> Ofertas</a> </li>
                        <li><a href="Tiendas Oficiales"> Tiendas Oficiales </a>  </li>
                        <li><a href="Vender">Vender</a> </li>
                        <li><a href="Ayuda">Ayuda</a> </li>
                    </ul>
                </div>
            
                <div class="box-menu2">
                    <ul class="menu2">
                        <li><a href="/registro">Creá tu cuenta </a>  <i class="fas fa-address-card"></i> </li>
                        <li><a href="/login"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                        <li><a href="Mis compras">Mis compras </a>  <i class="fas fa-shopping-basket"></i> </li>
                    </ul>
                </div>
            </nav>    
               
            
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
<section class="box-form">
    <form action="/" method="POST">

        <div class="elementos-form">
            <input type="text" name="usuario" class="input-box" placeholder="Nombre de Usuario">
        </div>

        <div class="elementos-form">
            <input type="password" name="contraseña"class="input-box" placeholder="Contraseña" >
        </div>

        <button class="boton" type="submit" >Enviar</button>


    </form>
</section>
<footer class="footer-box"> 
    <section class="w-30">
        
        <i class="far fa-credit-card change-color"> </i>
        <h3 > Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>

    </section>

    <section class="w-30">
        <i class="fas fa-gift"></i>
        <h3> Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
    </section>

    <section class="w-30">
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
    </section>

    <section class="copyright">
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>