<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre - Registro</title>
</head>
<body>
    <header class="header-box">
        <section >
            <article class="logo-box">
                <img class="logo-img"  src="/images/logo-mercado-liebre.svg">  
               
                    
                        <nav class="barra" >
                            <input type="text" placeholder="Buscar Productos" class="lupa-box" >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        
                        </nav>
                  
                
                <div class="manito"><i class="fas fa-hand-holding-usd"> </i>  Comprá en cuotas y sin tarjeta de crédito</div>
            </article>       
        </section>

        <section class="menu">
            <nav class="nav-menu">
                <div class="box-menu1">
                    <ul class="menu1">
                    
                        <li> <a href="Ofertas"> Ofertas</a> </li>
                        <li><a href="Tiendas Oficiales"> Tiendas Oficiales </a>  </li>
                        <li><a href="Vender">Vender</a> </li>
                        <li><a href="Ayuda">Ayuda</a> </li>
                    </ul>
                </div>
            
                <div class="box-menu2">
                    <ul class="menu2">
                        <li><a href="/registro">Creá tu cuenta </a>  <i class="fas fa-address-card"></i> </li>
                        <li><a href="/login"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                        <li><a href="Mis compras">Mis compras </a>  <i class="fas fa-shopping-basket"></i> </li>
                    </ul>
                </div>
            </nav>    
               
            
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main> 
        <section class="box-form">
        <form action="/" method="POST" class="form">
        <h3> DATOS PERSONALES</h3>

        <div class="elementos-form">
            <label for="nombre"> </label>
            <input type="text" name="nombre" placeholder="Nombre y Apellido" class="input-form">
        </div>

        <div class="elementos-form">
            <label for="nombre-usuario"></label>
            <input type="text" name="nombre-usuario" placeholder="Usuario" class="input-form">
        </div>

        <div class="elementos-form">
            <label for="email"> Email </label>
            <input type="email" name="email" placeholder="example@pepito.com" class="input-form">
        </div>

        

        <div class="elementos-form">
            <label for="nombre"> Fecha de Nacimiento: </label>
            <input type="date" name="fecha" class="input-form">
        </div>

        <div class="elementos-form">
            <label for="domicilio"> Domicilio: </label>
            <input type="text" name="domicilio"class="input-form">
        </div>

        <div class="elementos-form">
            <label for="consulta"> Perfil de Usuario: </label>

            <div class="perfil-usuario">
                <label for="consulta">Comprador</label>
                <input type="radio" name="respuesta" id="consulta">
                <label for="consulta">Vendedor</label>
                <input type="radio" name="respuesta" id="consulta">
            </div>
        </div>


        <label class="labels" for="nombre"> Categoria de Interes </label>

        <div class="categorias">
            <label for="nombre"> Electro </label>
            <input type="checkbox" name="Categoria de Interes" value="Electro">
            <label for="nombre"> Moda </label>
            <input type="checkbox" name="Categoria de Interes" value="Moda">
            <label for="nombre"> Hogar </label>
            <input type="checkbox" name="Categoria de Interes" value="Hogar">
            <label for="nombre"> Jugueteria </label>
            <input type="checkbox" name="Categoria de Interes" value="Juguetería">
            <label for="nombre"> Vida sana </label>
            <input type="checkbox" name="Categoria de Interes" value="Vida Sana">
        </div>

        <div class="elementos-form">
            <label class="labels" for="archivo"> Selecciona una imagen para el perfil </label>
            <input type="file" name="foto" accept=".jpg"
        </div>

        <div class="elementos-form">
            <label for="password"> Contraseña </label>
            <input type="password" name="contraseña" class="input-form" >
        </div>

        <div class="elementos-form">
            <label for="password"> </label>
            <input type="password" name="contraseña" class="input-form" placeholder="Confirmar Contraseña" >
        </div>

        <button type="submit"> Enviar </button>
        <button type="reset"> Borrar </button>

    </form>
</section>
</main>

    <footer> 
        <section>
            
            <i class="far fa-credit-card"></i>
            <h3 > Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>

        </section>

        <section>
            <i class="fas fa-gift"></i>
            <h3> Envío gratis desde $2500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
        </section>

        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
        </section>

        <section>
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>





</body>
</html>