*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
    font-size: 12px;
    background-color:#ebebeb;
}

header{
    background: #EAC926;
}

.barra{
    width: 50%;
    display: flex;
    align-items: center;
}
.manito{
    width: 100%;
    margin-left: 60px;
    display: flex;
}
.barra i{
    margin: 0 auto;
    font-size: 1.5em;
}
.logo-img{
    width: 50%;
}

a{
    text-decoration: none;
}

i{
    font-size: 2em;
    margin-bottom: 10px;    
}

img{
    width: 100%
}
.menu{
    display: none;
}
.barra i{
    background-color: whitesmoke;
}

.titulo-ultima-visita{
    font-size: 24px
}

.precio{
    font-size: 18px;
 /*width: 30%;*/
}

.descuentos{
    font-size: 16px;
   /* width: 70%;*/
    color: green;
}
.nombre-producto{
    width: 100%;
}
.logo-box{
    display: flex;
    
    flex-wrap: wrap;
}
footer{
    text-align: center;
}
.burger-menu{
    text-align: center;
    background: #1259c3;;
    color: white;
    width: 50px;
    margin: 0 auto;
    border-radius: 2px;
}

.main-box{
    display: flex;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    padding: 8px
}
.separacion{
    margin-bottom: 10px;
}

.box-descripcion-productos{
    border-top: solid 1px #ebebed;
    position: relative;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
}

.product-shadow{
box-shadow: 0px 0px 10px rgb(100,100,100);
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.form{
    padding: 20px 15px;
    background-color: aquamarine;
    border-radius: 15px;
    border: 2px solid black;
    margin: 0 auto;
    width: 80%;
}
.box-form{
    background-color: gray;
    
}

.elementos-form{
    margin-bottom: 15px;
}
.elementos-form label{
    margin-bottom: 5px;
    display: block;
}
.categorias{
    margin-bottom: 20px;
}
.labels{
    margin-top: 15px;
    font-size: 16px ;
}
/*login*/
.boton{
    padding: 5px;

}
.boton:hover{
    background-color:  #0022AA;
}



@media (min-width:481px){
    /*tablet*/
       .product-shadow{
        box-shadow: none;
       }


}

@media (min-width:769px){
    /*laptop*/
    .product-shadow{
        box-shadow: none;
    }
.product{
    width: 50%;
}

    .product:hover .description{
         display: block;
    }
    .description{
        display: none;
    }
    .burger-menu{
        display: none;
    }
    .product:hover{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .transition:hover{
        transform: rotate(-360deg);
        transition-duration: 5s;
    }

    .footer-box{
        display: flex;
       flex-wrap: wrap;
       flex-direction: row;
    }
    .copyright{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
    }  
    .w-30{
        width: 30%;
    }
    .logo-box{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
         
    }
    .producto{
        display: flex;
        align-content: center;
    }
    .manito{
        
        margin-left: 0;
        justify-content: center;
    }
    .barra{
        justify-content: center;
    }
    
    .contenedor-productos{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-menu{
        display: flex;
        width: 100%;
    }
    .box-menu1{
        width: 50%;
        margin: auto;
    }
    .box-menu2{
        width: 50%;
        margin: auto;
    }
    .menu1{
        display: flex;

    }
    
    .menu1 li{
        margin-left: 10px;
        margin-right: 10px;
        list-style: none;
    }
    .menu2{
        display: flex;
        justify-content: end;
       
    }
    .menu2 li{
        margin-right: 15px;
        list-style: none;
    }
    .menu{
        display: flex;
    }
    .menu a{
        color: black;
    }

}

@media (min-width:1281px){
    /*desktop*/
    .box-descripcion-productos:hover .nombre-producto{
        display: block;
    }
    .product:hover{
        box-shadow: 0px 0px 10px rgb(100,100,100); 
    }
    .product{
        width: 25%;
        
    }
    .change-color:hover{
        color: #39b54a;
    
    }
    .barra{
        width: auto;
    }
    
}
